includes:
    - vendor/narrowspark/coding-standard/base_rules.neon

parameters:
    paths:
        - ./

    autoload_directories:
        - ./

    excludes_analyse:
        - vendor
        - Tests/Fixture

    ignoreErrors:
        - '#Parameter \#1 \$casters of method Symfony\\Component\\VarDumper\\Cloner\\AbstractCloner::addCasters\(\) expects array\<callable\>\, array\<string\, array\<int, object|string\>\> given#'
        - '#Parameter \#1 \$output of class Symfony\\Component\\VarDumper\\Dumper\\CliDumper constructor expects \(callable\(\)\: mixed\)|resource|string|null\, array\($this\(Viserio\\Bridge\\Monolog\\Formatter\\ConsoleFormatter\)\, "echoLine"\)|resource|false given#'
