.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph {
    margin: 25px 0;
}
.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph pre {
    font-size: 14px;
    color: var(--profiler-second-font-color);
    padding: 10px;
    background-color: #FFF;
}
.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph pre .status-success {
    color: var(--profiler-status-green-color);
}
.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph pre .status-warning {
    background-color: var(--profiler-status-yellow-color);
    color: #FFF;
    padding: 0px 5px;
}
.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph pre .status-error {
    color: var(--profiler-status-red-color);
}
