.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph {
    margin-top: 25px;
}
.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph pre {
    font-size: 14px;
    color: #2B2A28;
    padding: 10px;
    background-color: #fff;
}
.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph pre .status-success {
    color: #4F805D;
}
.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph pre .status-warning {
    background-color: #A46A1F;
    color: #FFF;
    padding: 0px 5px;
}
.profiler-panel.profiler-panel-twig-data-collector.active .twig-graph pre .status-error {
    color: #B0413E;
}
