root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2

[src/Viserio/Component/Container/Tests/Fixture/Compiled/*.txt]
trim_trailing_whitespace = false
[src/Viserio/Component/Container/Tests/Fixture/Proxy/*.php]
trim_trailing_whitespace = false
[src/Viserio/Component/Exception/Tests/Console/HandlerTest.php]
trim_trailing_whitespace = false
