language: php

sudo: false

services:
  - memcached
  - mongodb
  - redis-server

addons:
  apt:
    sources:
      - mongodb-3.2-precise
    packages:
      - mongodb-org-server

matrix:
  include:
    - php: 7.1
      env: SETUP=basic SEND_COVERAGE=true PHPUNIT=true
    - php: 7.1
      env: SETUP=basic PHPUNIT=true
    - php: 7.1
      env: SETUP=stable PHPUNIT=true
    - php: 7.1
      env: SETUP=lowest PHPUNIT=true
    - php: nightly
      env: SETUP=basic PHPUNIT=true
    - php: nightly
      env: SETUP=stable PHPUNIT=true
    - php: nightly
      env: SETUP=lowest PHPUNIT=true
  allow_failures:
    - php: nightly
    - env: SETUP=lowest PHPUNIT=true
      php: 7.1
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d
  - chmod a+x ./build/travis/all.sh && chmod a+x ./build/travis/script.sh && chmod a+x ./build/travis/after_success.sh
  - ./build/travis/all.sh

install:
  - if [[ "$SETUP" = "basic" ]]; then travis_retry composer install --no-interaction --prefer-dist --no-progress --profile --no-suggest; fi
  - if [[ "$SETUP" = "stable" ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-progress --profile --no-suggest; fi
  - if [[ "$SETUP" = "lowest" ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable --no-suggest; fi

before_script:
  - sleep 15

script:
  - ./build/travis/script.sh

after_success:
  - ./build/travis/after_success.sh

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/5886ad33ac123a7c06b0
