dist: trusty
sudo: required
language: php

env:
  global:
    - TEST="./vendor/bin/phpunit"
    - COMPOSER_UP="composer update --no-interaction --prefer-dist --no-progress --profile --no-suggest"
    - secure: "mFCy2wifFZRkb372mSZtT3aMmYcboFnyqVMh2GaMV4lzkI/xEgO7pDhMikmN/QVZ69pnwIBqFp+f/sJYhATaFkF0IGvcOY/tiCVleOPUaTDpiTapTIm3lai4CR7wT5VMx272MoGKBHIOgSM0ZrTE6MrCSEJ6KZl4xDEaLqzqfS5U5140qfSUdr4+34sdOObMdEYglKmY9JkCxx07fCTm+llEyb+PSrpMBOLTzOxC4jHmPcbox4W5Tm0obuJkX1+HL9t7cs4zfSYTJ3HDhCExvMrAXJLCUJ8njEmGhKktdEwHeJwF+1JrgvI7fsEps/LhTnPqBRBxb3aS7smWHTmCYcjc05bsUi+z8bK5hfCKOHrr7tbhR5O+zHg0iA3eH1uS9gv97Am/T2DCapmQ+HgEGynQgLwie47AYKt2cFtAfIYdPsnfLmsaM4oUEudwSTRli7t2QY1d5NsCygNTvwlcg5lj7q6OuneivhNA5xUmQy+0b9I/653ekC3mxnvVygbCzB3qjcdrgHMZGCmasmNHr22KtT49b54EV7DfBMrn1KUsHKld/NlQ50BBmuts8TLKEVCddd3gtqPXWfXkr0ZJHMblZPUIDO0YRnVejfHfFpARUki3xQXjFctp3KMD/ov0eHLAc7+zt9s6paOqEfjblqM/kMskvoFFjh97R+drUT4="

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.php-cs-fixer

#stages:
#  - Test
#  - Coverage
#  - Coding standard
#  - name: Subsplit
#    if: branch = master

#services:
#  - memcached
#  - mongodb
#  - redis-server
#
#addons:
#  apt:
#    sources:
#      - mongodb-3.2-precise
#    packages:
#      - mongodb-org-server

before_install:
  - mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d
  - chmod a+x ./build/travis/before_install.sh && chmod a+x ./build/travis/script.sh && chmod a+x ./build/travis/set_up_ssh.sh && chmod a+x ./build/travis/viserio-split.sh
  - ./build/travis/before_install.sh

#install:
#  - composer require roave/security-advisories:dev-master
#  - |
#    if [[ "$SETUP" = "high" ]]; then
#      $COMPOSER_UP;
#    elif [[ "$SETUP" = "lowest" ]]; then
#      $COMPOSER_UP --prefer-lowest --prefer-stable;
#    else
#      $COMPOSER_UP
#    fi

before_script:
  - if [[ "$PHPSTAN" = "false" || "$CS" = "false" ]]; then sleep 15; fi

#script:
#  - ./build/travis/script.sh;

jobs:
  allow_failures:
    - php: 7.2
      env: PHPUNIT=true SETUP=lowest REMOVE_XDEBUG=true

  include:
#    - stage: Test
#      php: 7.2
#      env: PHPUNIT=true SETUP=high REMOVE_XDEBUG=true
#    - stage: Test
#      php: 7.2
#      env: PHPUNIT=true SETUP=lowest REMOVE_XDEBUG=true
#
#    - stage: Coverage
#      php: 7.2
#      env: REMOVE_XDEBUG=false
#      script:
#        - bash -xc "$TEST -c ./phpunit.xml.dist --verbose --coverage-clover=coverage.xml";
#      after_success:
#        - bash <(curl -s https://codecov.io/bash)
#
#    - stage: Coding standard
#      php: 7.2
#      env: REMOVE_XDEBUG=true
#      script:
#        - ./vendor/bin/php-cs-fixer fix --verbose --diff --dry-run
#    - stage: Coding standard
#      php: 7.2
#      env: REMOVE_XDEBUG=false
#      script:
#        - ./vendor/bin/phpstan analyse -c phpstan.neon -l 7 src/Viserio

    - stage: Subsplit
      php: 7.2
      env:
        - REMOVE_XDEBUG=false
      before_script:
        - then openssl aes-256-cbc -K $encrypted_37fd3d207790_key -iv $encrypted_37fd3d207790_iv -in ./build/travis/github_deploy_key.enc -out ./build/travis/github_deploy_key -d
      script:
        - then ./build/travis/set_up_ssh.sh
        - then wget https://github.com/dflydev/git-subsplit/archive/master.tar.gz && tar -zxvf master.tar.gz && rm -rf master.tar.gz
        - then cd ./git-subsplit-master && sudo ./install.sh && cd ..
        - then ./build/travis/viserio-split.sh

notifications:
  email: false
