language: php

sudo: false

services:
  - memcached
  - mongodb
  - redis-server

addons:
  apt:
    packages:
      - parallel

matrix:
  include:
    # Use the newer stack for HHVM as HHVM does not support Precise anymore since a long time and so Precise has an outdated version
    - php: hhvm-3.12
      sudo: required
      dist: trusty
      group: edge
      env: SETUP=basic
    - php: 7.0
      env: SETUP=basic CHECK_CS=true SEND_COVERAGE=true
    - php: 7.0
      env: SETUP=basic HUMBUG=true
    - php: 7.0
      env: SETUP=lowest
    - php: 7.0
      env: SETUP=stable
  allow_failures:
    - env: SETUP=basic HUMBUG=true
      php: 7.0
    - env: SETUP=lowest
      php: 7.0
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d
  - if [ -f build/travis/php/$TRAVIS_PHP_VERSION.sh]; then ./build/travis/php/$TRAVIS_PHP_VERSION.sh; fi
  - if [[ "$PHP" != hhvm* ]]; then composer global require hirak/prestissimo; fi # Now composer can install components parallel
  - if [[ "$HUMBUG" = "true" ]]; then composer require humbug/humbug; fi
  - git config --global user.name travis-ci
  - git config --global user.email travis@example.com

install:
  - if [[ "$SETUP" = "basic" ]]; then travis_retry composer install --no-interaction --prefer-dist --no-progress --profile; fi
  - if [[ "$SETUP" = "stable" ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-progress --profile; fi
  - if [[ "$SETUP" = "lowest" ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable --no-progress --profile; fi

before_script:
  - chmod a+x ./build/travis/all.sh && chmod a+x ./build/travis/php/7.x.sh && chmod a+x ./build/travis/script.sh && chmod a+x ./build/travis/after_success.sh
  - sleep 15
  - mongo mydb_test --eval 'db.addUser("travis", "test");'
  - ./build/travis/all.sh
  - if [ "$TRAVIS_PHP_VERSION" = "7.0" ]; then ./build/travis/php/7.x.sh; fi

script:
  - ./build/travis/script.sh

after_success:
  - ./build/travis/after_success.sh
