dist: trusty
sudo: required
language: php

env:
  global:
    - TEST="./vendor/bin/phpunit"
    - COMPOSER_UP="composer update --no-interaction --prefer-dist --no-progress --profile --no-suggest"

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.php-cs-fixer

services:
  - memcached
  - mongodb
  - redis-server

addons:
  apt:
    sources:
      - mongodb-3.2-precise
    packages:
      - mongodb-org-server

before_install:
  - mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d
  - chmod a+x ./build/travis/before_install.sh && chmod a+x ./build/travis/script.sh
  - ./build/travis/before_install.sh

install:
  - composer require roave/security-advisories:dev-master
  - |
    if [[ "$SETUP" = "high" ]]; then
      $COMPOSER_UP;
    elif [[ "$SETUP" = "lowest" ]]; then
      $COMPOSER_UP --prefer-lowest --prefer-stable;
    else
      $COMPOSER_UP
    fi

before_script:
  - if [[ "$PHPSTAN" = "false" || "$CS" = "false" ]]; then sleep 15; fi

script:
  - ./build/travis/script.sh;

jobs:
  allow_failures:
    - php: 7.2
      env: PHPUNIT=true SETUP=lowest REMOVE_XDEBUG=true

  include:
#    - stage: Test
#      php: 7.2
#      env: PHPUNIT=true SETUP=high REMOVE_XDEBUG=true
#    - stage: Test
#      php: 7.2
#      env: PHPUNIT=true SETUP=lowest REMOVE_XDEBUG=true
#
#    - stage: Coverage
#      php: 7.2
#      env: REMOVE_XDEBUG=false
#      script:
#        - bash -xc "$TEST -c ./phpunit.xml.dist --verbose --coverage-clover=coverage.xml";
#      after_success:
#        - bash <(curl -s https://codecov.io/bash)
#
#    - stage: Coding standard
#      php: 7.2
#      env: REMOVE_XDEBUG=true
#      script:
#        - ./vendor/bin/php-cs-fixer fix --verbose --diff --dry-run
#    - stage: Coding standard
#      php: 7.2
#      env: REMOVE_XDEBUG=false
#      script:
#        - ./vendor/bin/phpstan analyse -c phpstan.neon -l 7 src/Viserio

    - stage: subsplit
      php: 7.2
      env: REMOVE_XDEBUG=false
      script:
        - git subsplit init git@github.com:narrowspark/framework.git

notifications:
  email: false
