language: php

sudo: false

addons:
  apt_packages:
    - parallel

services:
  - memcached
  - mongodb
  - redis-server

matrix:
  include:
    - php: hhvm
      env: SETUP=basic
    - php: 5.6
      env: SETUP=basic
    - php: 5.6
      env: SETUP=stable
    - php: 5.6
      env: SETUP=basic ADAPTER=Libevent
    - php: 5.6
      env: SETUP=basic ADAPTER=Ev
    - php: 7.0
      env: SETUP=lowest
    - php: 7.0
      env: SETUP=basic ADAPTER=Libuv
    - php: 7.0
      env: SETUP=basic ADAPTER=Uv
    - php: 5.6
      env: SETUP=basic CHECK_CS=true SEND_COVERAGE=true
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d
  - if [ -f build/travis/php/$TRAVIS_PHP_VERSION.sh]; then ./build/travis/php/$TRAVIS_PHP_VERSION.sh; fi
  - travis_retry composer self-update # Run allways composer update
  - if [ "$TRAVIS_PHP_VERSION" = hhvm ]; then composer global require hirak/prestissimo; fi # Now composer can install components parallel

install:
  - if [ "$SETUP" = 'basic' ]; then travis_retry composer install --no-interaction --prefer-source --no-progress --profile; fi
  - if [ "$SETUP" = 'stable' ]; then travis_retry composer update --prefer-source --no-interaction --prefer-stable --no-progress --profile; fi
  - if [ "$SETUP" = 'lowest' ]; then travis_retry composer update --prefer-source --no-interaction --prefer-lowest --prefer-stable --no-progress --profile; fi

before_script:
  - chmod a+x ./build/travis/runTest.sh && chmod a+x ./build/travis/runTests.sh && chmod a+x ./build/travis/php/5.x.sh && chmod a+x ./build/travis/php/7.x.sh && chmod a+x ./build/travis/php/hhvm.sh && chmod a+x ./build/travis/script.sh && chmod a+x ./build/travis/after_success.sh
  - sleep 15
  - mongo mydb_test --eval 'db.addUser("travis", "test");'
  - ./build/travis/all.sh
  - if [ "$TRAVIS_PHP_VERSION" = 5.* ]; then ./build/travis/php/5.x.sh; fi
  - if [ "$TRAVIS_PHP_VERSION" = 7.* ]; then ./build/travis/php/7.x.sh; fi
  - if [ "$TRAVIS_PHP_VERSION" = hhvm ]; then ./build/travis/php/hhvm.sh; fi

script:
  - ./build/travis/script.sh

after_success:
  - ./build/travis/after_success.sh
