language: php

sudo: false

git:
  depth: 1

services:
  - memcached
  - mongodb
  - redis-server

matrix:
  include:
    - php: 7.1
      env: SETUP=basic CHECK_CS=true SEND_COVERAGE=true PHPUNIT=true
    - php: 7.1
      env: SETUP=lowest PHPUNIT=false
    - php: 7.1
      env: SETUP=basic PHPUNIT=false
    - php: 7.1
      env: SETUP=stable PHPUNIT=false
    - php: 7.1
      env: SETUP=basic PHPSTAN=true PHPUNIT=false
  allow_failures:
    - env: SETUP=lowest PHPUNIT=false
      php: 7.1
    - php: 7.1
      env: SETUP=basic PHPSTAN=true PHPUNIT=false
    # - env: SETUP=basic HUMBUG=true
    #   php: 7.1
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d
  - chmod a+x ./build/travis/all.sh && chmod a+x ./build/travis/script.sh && chmod a+x ./build/travis/after_success.sh
  - ./build/travis/all.sh

install:
  - if [[ "$SETUP" = "basic" ]]; then travis_retry composer install --no-interaction --prefer-dist --no-progress --profile --no-suggest; fi
  - if [[ "$SETUP" = "stable" ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-progress --profile --no-suggest; fi
  - if [[ "$SETUP" = "lowest" ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable --no-suggest; fi
before_script:
  - sleep 15

script:
  - ./build/travis/script.sh

after_success:
  - ./build/travis/after_success.sh

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/5886ad33ac123a7c06b0
