build: false
platform:
 - x64
clone_depth: 1
clone_folder: C:\projects\narrowspark

environment:
  matrix:
    - dependencies: basic
      php_ver_target: 7.2
    - dependencies: high
      php_ver_target: 7.2
    - dependencies: lowest
      php_ver_target: 7.2

matrix:
  fast_finish: true
  allow_failures:
    - dependencies: lowest
      php_ver_target: 7.2

services:
  - memcached

cache: # cache is cleared when linked file is modified
  - '%LOCALAPPDATA%\Composer\files -> composer.lock'
  - composer.phar
  # Cache chocolatey packages
  - C:\ProgramData\chocolatey\bin -> .appveyor.yml
  - C:\ProgramData\chocolatey\lib -> .appveyor.yml
  # Cache php install
  - C:\tools\php -> .appveyor.yml
  - .phpunit -> phpunit

init:
  - SET PATH=C:\Program Files\OpenSSL;C:\tools\php;%PATH%
  - SET ANSICON=121x90 (121x90)
  - SET COMPOSER_NO_INTERACTION=1
  - SET COMPOSER_UP=composer update --no-interaction --prefer-dist --no-progress --profile --no-suggest --ansi
  - REG ADD "HKEY_CURRENT_USER\Software\Microsoft\Command Processor" /v DelayedExpansion /t REG_DWORD /d 1 /f

install:
  # Install PHP
  - mkdir C:\tools\php
  - appveyor DownloadFile "https://raw.githubusercontent.com/prisis/ps-install-php/master/Install-PHP.ps1"
  - ps: .\Install-PHP.ps1 -InstallPath C:\tools\php -Version $Env:php_ver_target -Highest -Arch x64 -Extensions mbstring,intl,openssl,memcache,fileinfo,pdo_sqlite,curl,sodium
  # Install redis and start
  - nuget install redis-64 -excludeversion -Verbosity quiet
  - redis-64\tools\redis-server.exe --service-install
  - redis-64\tools\redis-server.exe --service-start
  # PHP settings and extensions
  - cd C:\tools\php
  - cd ext
  - appveyor DownloadFile https://github.com/nono303/PHP7-memcache-dll/blob/master/vc15/x64/nts/php-7.2.x_memcache.dll?raw=true
  - rename php-7.2.x_memcache.dll php_memcache.dll
  - cd ..
  - echo zend_extension=php_opcache.dll >> php.ini
  - echo max_execution_time=1200 >> php.ini
  - echo date.timezone="America/Los_Angeles" >> php.ini
  - echo opcache.enable_cli=1 >> php.ini
  - echo apc.enable_cli=1 >> php.ini
  - php -r "readfile('https://getcomposer.org/installer');" | php
  - echo @php %%~dp0composer.phar %%* > composer.bat
  - IF %APPVEYOR_REPO_BRANCH%==master (SET COMPOSER_ROOT_VERSION=dev-master) ELSE (SET COMPOSER_ROOT_VERSION=%APPVEYOR_REPO_BRANCH%.x-dev)
  - cd C:\projects\narrowspark
  # Matrix
  - IF %dependencies%==basic appveyor-retry %COMPOSER_UP%
  - IF %dependencies%==lowest appveyor-retry %COMPOSER_UP% --prefer-lowest --prefer-stable
  - IF %dependencies%==high appveyor-retry %COMPOSER_UP%

test_script:
  - cd C:\projects\narrowspark
  - SET X=0
  - sh vendor/bin/phpunit -c phpunit.xml.dist -v --exclude-group="appveyor"
  - exit %X%
