build: false
clone_depth: 1
clone_folder: c:\projects\narrowspark

cache:
  - c:\php -> appveyor.yml
  - .phpunit -> phpunit

init:
  - SET PATH=C:\Program Files\OpenSSL;c:\php;%PATH%
  - SET COMPOSER_NO_INTERACTION=1
  - SET PHP=1
  - SET ANSICON=121x90 (121x90)
  - REG ADD "HKEY_CURRENT_USER\Software\Microsoft\Command Processor" /v DelayedExpansion /t REG_DWORD /d 1 /f

install:
  - IF EXIST c:\php (SET PHP=0) ELSE (mkdir c:\php)
  - cinst -y OpenSSL.Light
  - cd c:\php
  - IF %PHP%==1 appveyor DownloadFile https://raw.githubusercontent.com/symfony/binary-utils/master/cacert.pem
  - IF %PHP%==1 appveyor DownloadFile http://windows.php.net/downloads/releases/archives/php-7.0.7-nts-Win32-VC14-x86.zip
  - IF %PHP%==1 7z x php-7.0.7-nts-Win32-VC14-x86.zip -y >nul
  - IF %PHP%==1 del /Q *.zip
  - IF %PHP%==1 cd ext
  - IF %PHP%==1 appveyor DownloadFile http://windows.php.net/downloads/pecl/releases/mongodb/1.1.6/php_mongodb-1.1.6-7.0-nts-vc14-x86.zip
  - IF %PHP%==1 7z x php_mongodb-1.1.6-7.0-nts-vc14-x86.zip -y >nul
  - IF %PHP%==1 del /Q *.zip
  - IF %PHP%==1 cd ..
  - IF %PHP%==1 echo @php %%~dp0composer.phar %%* > composer.bat
  - IF %PHP%==1 copy /Y php.ini-development php.ini
  - IF %PHP%==1 echo max_execution_time=1200 >> php.ini
  - IF %PHP%==1 echo date.timezone="UTC" >> php.ini
  - IF %PHP%==1 echo extension_dir=ext >> php.ini
  - IF %PHP%==1 echo extension=php_openssl.dll >> php.ini
  - IF %PHP%==1 echo extension=php_mongodb.dll >> php.ini
  - IF %PHP%==1 echo apc.enable_cli=1 >> php.ini
  - IF %PHP%==1 echo extension=php_intl.dll >> php.ini
  - IF %PHP%==1 echo extension=php_mbstring.dll >> php.ini
  - IF %PHP%==1 echo extension=php_fileinfo.dll >> php.ini
  - IF %PHP%==1 echo extension=php_pdo_sqlite.dll >> php.ini
  - IF %PHP%==1 echo extension=php_curl.dll >> php.ini
  - IF %PHP%==1 echo curl.cainfo=c:\php\cacert.pem >> php.ini
  - IF %PHP%==1 appveyor DownloadFile https://getcomposer.org/download/1.1.0/composer.phar
  - mkdir %APPDATA%\Composer
  - composer self-update --no-progress --ansi
  - composer global require hirak/prestissimo:dev-master --no-progress --ansi
  - IF %APPVEYOR_REPO_BRANCH%==master (SET COMPOSER_ROOT_VERSION=dev-master) ELSE (SET COMPOSER_ROOT_VERSION=%APPVEYOR_REPO_BRANCH%.x-dev)
  - cd c:\projects\narrowspark
  - composer install --no-progress --ansi

test_script:
  - cd c:\projects\narrowspark
  - SET X=0
  - sh vendor/bin/phpunit -c phpunit.xml.dist -v --coverage-text="php://stdout" || SET X=!errorlevel!
  - exit %X%
