version: '3'
services:
    php:
        build: ./.docker/php/
        expose:
            - 9000
        volumes:
            - .:/var/www/framework
        links:
            - mysql
            - redis

    mysql:
        image: mysql:latest
        expose:
            - 3306
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: test
            MYSQL_USER: test
            MYSQL_PASSWORD: test

    redis:
        image: redis:latest
        expose:
            - 6379