includes:
#    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/phpstan/phpstan-php-parser/extension.neon

parameters:
    autoload_directories:
        - %currentWorkingDirectory%/src/Viserio

    excludes_analyse:
        - %currentWorkingDirectory%/src/Viserio/Bridge/**/Tests/Fixture/*
        - %currentWorkingDirectory%/src/Viserio/Component/**/Tests/Fixture/*
        - %currentWorkingDirectory%/src/Viserio/Provider/**/Tests/Fixture/*

        # Classes of php-cache are used
        - %currentWorkingDirectory%/src/Viserio/Component/Cache/*
        - %currentWorkingDirectory%/src/Viserio/Component/Profiler/DataCollector/Bridge/Cache/PhpCacheTraceableCacheDecorator.php
        - %currentWorkingDirectory%/src/Viserio/Component/Profiler/DataCollector/Bridge/Cache/Traits/TraceableCacheItemDecoratorTrait.php
        - %currentWorkingDirectory%/src/Viserio/Component/Profiler/DataCollector/Bridge/Cache/Traits/SimpleTraceableCacheDecoratorTrait.php

        # Needs https://github.com/narrowspark/framework/issues/394
        - %currentWorkingDirectory%/src/Viserio/Component/Queue/*

        # Ignore html.php files
        - %currentWorkingDirectory%/src/Viserio/Component/Profiler/Resource/views/profiler.html.php

    universalObjectCratesClasses:
        - DOMDocument
        - DomElement
        - DOMText
        - SimpleXMLElement

    ignoreErrors:
        # Magic functions, call and static call
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$foo#'
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$baz#'
        - '#Call to an undefined method Viserio\\Component\\View\\View::badMethodCall#'
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$renderable#'
        - '#Call to an undefined static method Viserio\\Component\\StaticalProxy\\Tests\\Fixture\\ExceptionSaticalProxyStub#'
        - '#Call to an undefined static method Viserio\\Component\\StaticalProxy\\Tests\\Fixture\\FooStaticalProxyStub#'

        - '#Call to an undefined static method Viserio\\Component\\Support\\Str::#'
        - '#Call to an undefined method Viserio\\Component\\View\\View::withFoo#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestConnectionManager::getName#'
        - '#Call to an undefined method Viserio\\Component\\Console\\Tests\\Command\\ClosureCommandTest::comment#'
        - '#Call to an undefined method Viserio\\Component\\Log\\Logger::getName#'
        - '#Call to an undefined method Viserio\\Component\\Mail\\Mailer::foo#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestManager::set#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestManager::get#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestConnectionManager::set#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestConnectionManager::get#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Routing\\Router::foo#'
        - '#Cannot call method getTarget#'
        - '#Cannot call method getName#'
        - '#Swift_#'

        # Required file variables
        - '#Undefined variable: \$text#'

        # Used for lazy loding
        - '#Access to an undefined property Viserio\\Component\\Http\\Stream\\AbstractStreamDecorator::\$stream#'
        - '#Access to an undefined property Viserio\\Component\\Http\\Stream\\FnStream::\$_fn_#'

        # No need to call the parent constructor
        - '#Viserio\\Component\\Http\\Stream\\LazyOpenStream::__construct\(\) does not call parent constructor from Viserio\\Component\\Http\\Stream\\AbstractStreamDecorator#'

        # Mock dependencies
        - '#Mockery\\MockInterface#'
        - '#org\\bovigo\\vfs\\vfsStream#'
        - '#Parameter \#1 ...\$argv of method Narrowspark\\TestingHelper\\Phpunit\\MockeryTestCase::mock\(\) expects array#'

        # MailerTest & QueueMailerTest
        - '#Call to an undefined method Mockery\\Mock::setViewFactory#'
        - '#Call to an undefined method Mockery\\Mock::send#'

        # Tests
        - '#\$uri of class Viserio\\Component\\Http\\Request constructor expects#'
        - '#\$resource of static method League\\Flysystem\\Util::getStreamSize#'
        - '#\$view of method Viserio\\Component\\Mail\\Mailer::send#'
        - '#\$callback of method Viserio\\Component\\Mail\\Mailer::send#'
        - '#Viserio\\Component\\Routing\\Tests\\Fixture\\Controller::put#'
        - '#Call to an undefined method Viserio\\Component\\Console\\Tests\\ApplicationTest::call#'
        - '#Instantiated class Viserio\\Component\\Console\\Tests\\UnknownClass not found#'

        # Is wrong
        - '#on SimpleXMLElement\|false#'
        - '#Call to an undefined method DOMNode#'
        - '#Method Viserio\\Component\\Filesystem\\Encryption\\EncryptionWrapper::decryptStream() should return resource but returns mixed|string#'
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage#'
        - '#Viserio\\Component\\Console\\Command\\AbstractCommand::__construct\(\) does not call parent constructor from Symfony\\Component\\Console\\Command\\Command#'

        # Twig Filter|Function|Test classes used
        - '#Call to an undefined method object::getCallable#'
        - '#Call to an undefined method object::needsContext#'

        - '#\$vars of method Viserio\\Bridge\\Twig\\Node\\TransNode::compileString#'

        # Extension
        - '#Call to an undefined method Twig_ExtensionInterface::getTranslationNodeVisitor#'

        # Select is used
        - '#Cannot call method fetchAll\(\) on Doctrine\\DBAL\\Driver\\Statement\|int#'

        # If check exists
        - '#\$nodes of method Viserio\\Component\\Routing\\TreeGenerator\\Optimizer\\RouteTreeOptimizer::optimizeNodes#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Routing\\SegmentMatcher::getParameterKeyGroupMap#'
        - '#Call to an undefined method SessionHandlerInterface::setRequest#'
        - '#Call to an undefined method Viserio\\Component\\Routing\\TreeGenerator\\ChildrenNodeCollection|Viserio\\Component\\Routing\\TreeGenerator\\MatchedRouteDataMap::getChildren#'
        - '#Calling method getValue\(\) on possibly null value of type Viserio\\Component\\Contract\\Cookie\\Cookie|Viserio\\Component\\Cookie\\Cookie|null#'
        - '#Function igbinary_serialize not found#'
        - '#Method Viserio\\Component\\Filesystem\\Encryption\\EncryptionWrapper::decryptStream\(\) should return resource but returns resource\|false#'
        - '#Method Viserio\\Component\\Filesystem\\Encryption\\EncryptionWrapper::encryptStream\(\) should return resource but returns resource\|false#'

        # Throwable is the base class for all erros on php7
        - '#expects Throwable#'
        - '#Throwable given#'

        # Wrapper
        - '#Viserio\\Component\\Profiler\\DataCollector\\Bridge\\PDO\\TraceablePDODecorater::__construct#'

        # Not a interface function
        - '#Call to an undefined method Psr\\Log\\LoggerInterface::getProcessors#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Mail\\Message::getSwiftMessage#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Mail\\Message::setBody#'
        - '#Call to an undefined method Viserio\\Component\\Cron\\Cron::everyXMinutes#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Cron\\Cron::spliceIntoPosition#'
        - '#Call to an undefined method Viserio\\Component\\Cron\\Tests\\CronTest::spliceIntoPosition#'

        - '#Parameter \#1 $fp of function \$[a-zA-Z0-9_]+ expects resource, resource|false given#'
