includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    autoload_directories:
        - %currentWorkingDirectory%/src/Viserio

    excludes_analyse:
        - %currentWorkingDirectory%/src/Viserio/Bridge/**/Tests/Fixture/*
        - %currentWorkingDirectory%/src/Viserio/Component/**/Tests/Fixture/*
        # Classes of php-cache are used
        - %currentWorkingDirectory%/src/Viserio/Component/Cache/*

        # Needs https://github.com/narrowspark/framework/issues/394
        - %currentWorkingDirectory%/src/Viserio/Component/Queue/*

    universalObjectCratesClasses:
        - DOMDocument
        - DomElement
        - DOMText

    ignoreErrors:
        # They are array callables
        - '#callable of method Invoker\\InvokerInterface::call#'

        # Magic functions, call and static call
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$foo#'
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$baz#'
        - '#Call to an undefined static method Viserio\\Component\\StaticalProxy\\Tests\\Fixture\\FooStaticalProxyStub#'
        - '#Call to an undefined method Viserio\\Component\\View\\View::withFoo#'
        - '#Call to an undefined static method Viserio\\Component\\StaticalProxy\\Tests\\Fixture\\ExceptionSaticalProxyStub::arg#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestConnectionManager::getName#'
        - '#Call to an undefined static method Viserio\\Component\\Support\\Str::#'
        - '#Call to an undefined method Viserio\\Component\\Console\\Tests\\Command\\ClosureCommandTest::comment#'
        - '#Call to an undefined method Viserio\\Component\\Log\\Writer::getName#'
        - '#Call to an undefined method Viserio\\Component\\Mail\\Mailer::foo#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestManager::set#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestManager::get#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestConnectionManager::set#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestConnectionManager::get#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Routing\\Router::foo#'
        - '#Cannot call method getTarget#'
        - '#Cannot call method getName#'
        - '#Swift_#'

        # Required file variables
        - '#Undefined variable: \$text#'

        # Used for lazy loding
        - '#Access to an undefined property Viserio\\Component\\Http\\Stream\\AbstractStreamDecorator::\$stream#'
        - '#Access to an undefined property Viserio\\Component\\Http\\Stream\\FnStream::\$_fn_#'

        # No need to call the parent constructor
        - '#Viserio\\Component\\Console\\Command\\Command::__construct#'
        - '#Viserio\\Component\\Http\\Stream\\LazyOpenStream::__construct\(\) does not call parent constructor from Viserio\\Component\\Http\\Stream\\AbstractStreamDecorator#'

        # Mock dependencies
        - '#Mockery\\MockInterface#'
        - '#org\\bovigo\\vfs\\vfsStream#'

        # Tests
        - '#\$uri of class Viserio\\Component\\Http\\Request constructor expects#'
        - '#\$resource of static method League\\Flysystem\\Util::getStreamSize#'
        - '#\$view of method Viserio\\Component\\Mail\\Mailer::send#'
        - '#\$callback of method Viserio\\Component\\Mail\\Mailer::send#'
        - '#Viserio\\Component\\Routing\\Tests\\Fixture\\Controller::put#'
        - '#Call to an undefined method Viserio\\Component\\Console\\Tests\\ApplicationTest::call#'
        - '#Call to static method test\(\) on an unknown class Viserio\\Component\\Exception\\Tests\\Fixtures\\Console#'
        - '#Instantiated class Viserio\\Component\\Console\\Tests\\UnknownClass not found#'

        # Is wrong
        - '#Function sodium_memzero invoked with 1 parameter, 2 required#'
        - '#\$casters of method Symfony\\Component\\VarDumper\\Cloner\\AbstractCloner::addCasters#'
        - '#Method Viserio\\Component\\Filesystem\\Encryption\\EncryptionWrapper::decryptStream() should return resource but returns mixed|string#'
        - '#set\(\) has invalid typehint type Psr\\SimpleCache\\DateInterval#'
        - '#setMultiple\(\) has invalid typehint type Psr\\SimpleCache\\DateInterval#'
        - '#Call to an undefined method Symfony\\Component\\Console\\Application::call#'
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage#'

        # If check exists
        - '#\$resource of method Viserio\\Component\\Filesystem\\Encryption\\EncryptionWrapper::decryptStream#'
        - '#\$stream of class Viserio\\Component\\Http\\Stream constructor expects resource#'
        - '#\$nodes of method Viserio\\Component\\Routing\\TreeGenerator\\Optimizer\\RouteTreeOptimizer::optimizeNodes#'
        - '#Call to an undefined method League\\Flysystem\\AdapterInterface::getUrl#'
        - '#Call to an undefined method League\\Flysystem\\AdapterInterface::applyPathPrefix#'
        - '#Call to an undefined method League\\Flysystem\\AdapterInterface::getPathPrefix#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Pagination\\Paginator::getElements#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Routing\\SegmentMatcher::getParameterKeyGroupMap#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Routing\\Dispatcher::setContainer#'
        - '#Call to an undefined method Symfony\\Component\\Console\\Output\\OutputInterface::fetch\(\)#'
        - '#Call to an undefined method SessionHandlerInterface::setRequest#'
        - '#Function igbinary_serialize not found#'
        - '#Calling method getValue\(\) on possibly null value of type Viserio\\Component\\Contract\\Cookie\\Cookie|Viserio\\Component\\Cookie\\Cookie|null#'

        # Throwable is the base class for all erros on php7
        - '#expects Throwable#'
        - '#Throwable given#'

        # Wrapper
        - '#Viserio\\Component\\Profiler\\DataCollector\\Bridge\\PDO\\TraceablePDODecorater::__construct#'

        # Not a interface function
        - '#Call to an undefined method Viserio\\Component\\Contract\\Mail\\Message::getSwiftMessage#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Mail\\Message::setBody#'
        - '#Call to an undefined method Viserio\\Component\\Cron\\Cron::everyXMinutes#'
        - '#Call to an undefined method Viserio\\Component\\Contract\\Cron\\Cron::spliceIntoPosition#'
        - '#Call to an undefined method Viserio\\Component\\Cron\\Tests\\CronTest::spliceIntoPosition#'

        # @internal
        - '#Call to an undefined method Viserio\\Component\\Events\\DataCollector\\TraceableEventManager::getListeners#'
        - '#Call to an undefined method Viserio\\Component\\Events\\EventManager::hasListeners#'
