parameters:
    autoload_directories:
        - %currentWorkingDirectory%/src/Viserio

    excludes_analyse:
        - %currentWorkingDirectory%/src/Viserio/Bridge/**/Tests/Fixture/*
        - %currentWorkingDirectory%/src/Viserio/Component/**/Tests/Fixture/*
        # Classes of php-cache are used
        - %currentWorkingDirectory%/src/Viserio/Component/Cache/*

        # Needs https://github.com/narrowspark/framework/issues/394
        - %currentWorkingDirectory%/src/Viserio/Component/Queue/*

    universalObjectCratesClasses:
        - DOMDocument
        - DomElement
        - DOMText

    ignoreErrors:
        # They are array callables
        - '#callable of class Twig_Function constructor#'
        - '#callable of class Twig_Filter constructor#'
        - '#callable of method Invoker\\InvokerInterface::call#'

        # Magic functions, call and static call
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$foo#'
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$baz#'
        - '#Access to an undefined property Viserio\\Component\\Support\\Tests\\Traits\\MacroableTraitTest::\$protectedVariable#'
        - '#Call to an undefined static method Viserio\\Component\\StaticalProxy\\Tests\\Fixture\\FacadeStub#'
        - '#Call to an undefined method Viserio\\Component\\View\\View::withFoo#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\MacroTest::#'
        - '#Call to an undefined static method Viserio\\Component\\Support\\Tests\\Fixture\\MacroTest::#'
        - '#Call to an undefined static method Viserio\\Component\\StaticalProxy\\Tests\\Fixture\\ExceptionFacadeStub::arg#'
        - '#Call to an undefined method Viserio\\Component\\Support\\Tests\\Fixture\\TestConnectionManager::getName#'
        - '#Call to an undefined static method Viserio\\Component\\Support\\Str::#'
        - '#Call to an undefined method Viserio\\Component\\Console\\Tests\\Command\\ClosureCommandTest::comment#'
        - '#Call to an undefined method Viserio\\Component\\Contracts\\Container\\Container::needs#'
        - '#Call to an undefined method Viserio\\Component\\Log\\Writer::getName#'
        - '#Call to an undefined method Viserio\\Component\\Cron\\Tests\\CronTest::spliceIntoPosition#'
        - '#Call to an undefined method Viserio\\Component\\Cron\\Cron::everyXMinutes#'
        - '#Call to an undefined static method Viserio\\Component\\Support\\Tests\\Traits\\MacroableTraitTest::getProtectedStatic#'
        - '#Call to an undefined method Viserio\\Component\\Mail\\Message::setBody#'
        - '#Cannot call method getTarget#'
        - '#Cannot call method getName#'
        - '#Swift_#'
        - '#Call to an undefined method Viserio\\Component\\Mail\\Mailer::foo#'

        # Required file variables
        - '#Undefined variable: \$class#'
        - '#Undefined variable: \$text#'

        # Used for lazy loding
        - '#Access to an undefined property Viserio\\Component\\Http\\Stream\\LazyOpenStream::#'
        - '#Access to an undefined property Viserio\\Component\\Http\\Stream\\FnStream::#'

        # No need to call the parent constructor
        - '#Viserio\\Component\\Console\\Command\\Command::__construct#'

        # Mock dependencies
        - '#Mockery\\MockInterface#'
        - '#PHPUnit_Framework_MockObject_MockObject#'
        - '#org\\bovigo\\vfs\\vfsStream#'

        # Tests
        - '#Call to an undefined method Viserio\\Component\\Http\\AbstractMessage::withUri#'
        - '#\$uri of class Viserio\\Component\\Http\\Request constructor expects#'
        - '#\$callback of class Viserio\\Component\\Cron\\CallbackCron constructor expects#'
        - '#Access to an undefined property Viserio\\Component\\Events\\Tests\\EventTest::\$event#'
        - '#\$resource of static method League\\Flysystem\\Util::getStreamSize#'
        - '#\$view of method Viserio\\Component\\Mail\\Mailer::send#'
        - '#\$callback of method Viserio\\Component\\Mail\\Mailer::send#'
        - '#Viserio\\Component\\Routing\\Tests\\Fixture\\Controller::put#'
        - '#Call to an undefined method Viserio\\Component\\Console\\Tests\\ApplicationTest::call#'

        # Is wrong
        - '#Call to an undefined method SessionHandlerInterface::setRequest#'
        - "#Casting to mixed[] something that's already mixed[]#"
        - '#\$casters of method Symfony\\Component\\VarDumper\\Cloner\\AbstractCloner::addCasters#'
        - '#Call to function count\(\) with argument type iterable\(mixed\[\]\) will always result in number 1#'
        - '#Method Viserio\\Component\\Filesystem\\Encryption\\EncryptionWrapper::decryptStream() should return resource but returns mixed|string#'
        - '#set\(\) has invalid typehint type Psr\\SimpleCache\\DateInterval#'
        - '#setMultiple\(\) has invalid typehint type Psr\\SimpleCache\\DateInterval#'
        - '#Call to an undefined method Symfony\\Component\\Console\\Application::call#'
        - '#Method Viserio\\Component\\Cron\\Cron::withoutOverlapping#'
        - '#\$guesser of static method Viserio\\Component\\Http\\ExtensionGuesser::register\(\) expects callable, mixed\[\] given.#'

        # if check exists
        - '#\$resource of method Viserio\\Component\\Filesystem\\Encryption\\EncryptionWrapper::decryptStream#'
        - '#\$stream of class Viserio\\Component\\Http\\Stream constructor expects resource#'
        - '#\$nodes of method Viserio\\Component\\Routing\\TreeGenerator\\Optimizer\\RouteTreeOptimizer::optimizeNodes#'
        - '#Method Viserio\\Component\\Filesystem\\FilesystemAdapter::has#'
        - '#Call to an undefined method League\\Flysystem\\AdapterInterface::getUrl#'
        - '#Call to an undefined method League\\Flysystem\\AdapterInterface::applyPathPrefix#'
        - '#Call to an undefined method Viserio\\Component\\Contracts\\Pagination\\Paginator::getElements#'
        - '#Call to an undefined method Viserio\\Component\\Contracts\\Routing\\SegmentMatcher::getParameterKeyGroupMap#'
        - '#Call to an undefined method Viserio\\Component\\Contracts\\Routing\\Dispatcher::setContainer#'
        - '#Call to an undefined method Symfony\\Component\\Console\\Output\\OutputInterface::fetch\(\)#'

        # Throwable is the base class for all erros on php7
        - '#expects Throwable#'
        - '#Throwable given#'

        # spliceIntoPosition returns cron class
        - '#should return \$this but returns \$this->spliceIntoPosition#'

        # Is a protected method
        - '#Call to an undefined method Viserio\\Component\\Contracts\\Cron\\Cron::spliceIntoPosition#'

        # Returns a clone class
        - '#Method Viserio\\Component\\Cookie\\AbstractCookieCollector::forget#'

        # Wrapper
        - '#Viserio\\Component\\Profiler\\DataCollector\\Bridge\\PDO\\TraceablePDODecorater::__construct#'
