<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
    bootstrap="./phpunit.php"
    colors="true"
    verbose="true"
    failOnRisky="true"
    failOnWarning="true"
    backupGlobals="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />

        <const name="REQUEST_FACTORY" value="Viserio\Component\HttpFactory\RequestFactory"/>
        <const name="RESPONSE_FACTORY" value="Viserio\Component\HttpFactory\ResponseFactory"/>
        <const name="SERVER_REQUEST_FACTORY" value="Viserio\Component\HttpFactory\ServerRequestFactory"/>
        <const name="STREAM_FACTORY" value="Viserio\Component\HttpFactory\StreamFactory"/>
        <const name="UPLOADED_FILE_FACTORY" value="Viserio\Component\HttpFactory\UploadedFileFactory"/>
        <const name="URI_FACTORY" value="Viserio\Component\HttpFactory\UriFactory"/>
    </php>

    <testsuites>
        <testsuite name="Narrowspark Monolog Bridge Test Suite">
            <directory>./src/Viserio/Bridge/Monolog/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Twig Bridge Test Suite">
            <directory>./src/Viserio/Bridge/Twig/Tests</directory>
        </testsuite>

        <testsuite name="Narrowspark Twig Provider Test Suite">
            <directory>./src/Viserio/Provider/Twig/Tests</directory>
        </testsuite>

        <testsuite name="Narrowspark Bus Component Test Suite">
            <directory>./src/Viserio/Component/Bus/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Cache Component Test Suite">
            <directory>./src/Viserio/Component/Cache/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Config Component Test Suite">
            <directory>./src/Viserio/Component/Config/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Console Component Test Suite">
            <directory>./src/Viserio/Component/Console/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Container Component Test Suite">
            <directory>./src/Viserio/Component/Container/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Contract Component Test Suite">
            <directory>./src/Viserio/Component/Contract/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Cookie Component Test Suite">
            <directory>./src/Viserio/Component/Cookie/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Cron Component Test Suite">
            <directory>./src/Viserio/Component/Cron/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Events Component Test Suite">
            <directory>./src/Viserio/Component/Events/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Exception Component Test Suite">
            <directory>./src/Viserio/Component/Exception/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Filesystem Component Test Suite">
            <directory>./src/Viserio/Component/Filesystem/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Foundation Component Test Suite">
            <directory>./src/Viserio/Component/Foundation/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Http Component Test Suite">
            <directory>./src/Viserio/Component/Http/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark HttpFactory Component Test Suite">
            <directory>./src/Viserio/Component/HttpFactory/Tests</directory>
            <directory>./vendor/http-interop/http-factory-tests/test</directory>
        </testsuite>
        <testsuite name="Narrowspark Log Component Test Suite">
            <directory>./src/Viserio/Component/Log/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Mail Component Test Suite">
            <directory>./src/Viserio/Component/Mail/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark OptionsResolver Component Test Suite">
            <directory>./src/Viserio/Component/OptionsResolver/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Pagination Component Test Suite">
            <directory>./src/Viserio/Component/Pagination/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Parser Component Test Suite">
            <directory>./src/Viserio/Component/Parser/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Pipeline Component Test Suite">
            <directory>./src/Viserio/Component/Pipeline/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Profiler Component Test Suite">
            <directory>./src/Viserio/Component/Profiler/Tests</directory>
        </testsuite>
        <!--<testsuite name="Narrowspark Queue Component Test Suite">-->
            <!--<directory>./src/Viserio/Component/Queue/Tests</directory>-->
        <!--</testsuite>-->
        <testsuite name="Narrowspark Routing Component Test Suite">
            <directory>./src/Viserio/Component/Routing/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Session Component Test Suite">
            <directory>./src/Viserio/Component/Session/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark StaticalProxy Component Test Suite">
            <directory>./src/Viserio/Component/StaticalProxy/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Support Component Test Suite">
            <directory>./src/Viserio/Component/Support/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Translation Component Test Suite">
            <directory>./src/Viserio/Component/Translation/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Validation Component Test Suite">
            <directory>./src/Viserio/Component/Validation/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark View Component Test Suite">
            <directory>./src/Viserio/Component/View/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark WebServer Component Test Suite">
            <directory>./src/Viserio/Component/WebServer/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Viserio/</directory>
            <exclude>
                <directory>./src/Viserio/Bridge/*/Tests</directory>
                <directory>./src/Viserio/Component/*/Tests</directory>
                <directory>./src/Viserio/Provider/*/Tests</directory>
                <file>./src/Viserio/Component/Foundation/Console/Resources/router.php</file>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
        <listener class="Symfony\Bridge\PhpUnit\CoverageListener" />
    </listeners>
</phpunit>
