<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./phpunit.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    syntaxCheck="true"
    verbose="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTestsSize="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Narrowspark Bus Component Test Suite">
            <directory>./src/Viserio/Bus/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Cache Component Test Suite">
            <directory>./src/Viserio/Cache/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Config Component Test Suite">
            <directory>./src/Viserio/Config/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Connect Component Test Suite">
            <directory>./src/Viserio/Connect/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Console Component Test Suite">
            <directory>./src/Viserio/Console/Tests</directory>
        </testsuite>
       <testsuite name="Narrowspark Container Component Test Suite">
            <directory>./src/Viserio/Container/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Contracts Component Test Suite">
            <directory>./src/Viserio/Contracts/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Cookie Component Test Suite">
            <directory>./src/Viserio/Cookie/Tests</directory>
        </testsuite>
       <testsuite name="Narrowspark Database Component Test Suite">
            <directory>./src/Viserio/Database/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Encryption Component Test Suite">
            <directory>./src/Viserio/Encryption/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Events Component Test Suite">
            <directory>./src/Viserio/Events/Tests</directory>
        </testsuite>
       <testsuite name="Narrowspark Exception Component Test Suite">
            <directory>./src/Viserio/Exception/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Filesystem Component Test Suite">
            <directory>./src/Viserio/Filesystem/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Foundation Component Test Suite">
            <directory>./src/Viserio/Foundation/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Hashing Component Test Suite">
            <directory>./src/Viserio/Hashing/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Http Component Test Suite">
            <directory>./src/Viserio/Http/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Http Factory Component Test Suite">
            <directory>./src/Viserio/HttpFactory/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Log Component Test Suite">
            <directory>./src/Viserio/Log/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Mail Component Test Suite">
            <directory>./src/Viserio/Mail/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Middleware Component Test Suite">
            <directory>./src/Viserio/Middleware/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Parsers Component Test Suite">
            <directory>./src/Viserio/Parsers/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Pipeline Component Test Suite">
            <directory>./src/Viserio/Pipeline/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Queue Component Test Suite">
            <directory>./src/Viserio/Queue/Tests</directory>
        </testsuite>
       <testsuite name="Narrowspark Routing Component Test Suite">
            <directory>./src/Viserio/Routing/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Session Component Test Suite">
            <directory>./src/Viserio/Session/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark StaticalProxy Component Test Suite">
            <directory>./src/Viserio/StaticalProxy/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark Support Component Test Suite">
            <directory>./src/Viserio/Support/Tests</directory>
        </testsuite>
       <testsuite name="Narrowspark Translation Component Test Suite">
            <directory>./src/Viserio/Translation/Tests</directory>
        </testsuite>
        <testsuite name="Narrowspark View Component Test Suite">
            <directory>./src/Viserio/View/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Viserio/</directory>
            <exclude>
                <directory>./src/Viserio/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
