.webprofiler {
    bottom: 0;
    color: #EEE;
    font: 11px Arial, sans-serif;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    text-align: left;
    text-transform: none;

    /* neutralize the aliasing defined by external CSS styles */
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

.webprofiler .webprofiler-header.hide,
.webprofiler .webprofiler-body .webprofiler-panel .selected-content {
    display: none;
}
.webprofiler .webprofiler-show-button.active,
.webprofiler .webprofiler-body.active,
.webprofiler .webprofiler-body .webprofiler-panel.active,
.webprofiler .webprofiler-body .webprofiler-panel .selected-content.active {
    display: block;
}

.webprofiler .webprofiler-header {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    border-top: 1px solid #383838;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #222;
    z-index: 9999;
}

.webprofiler .webprofiler-show-button {
    background-color: #222;
    border-top-left-radius: 4px;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    height: 36px;
    padding: 6px;
    position: fixed;
    right: 0;
    z-index: 99999;
    cursor: pointer;
}
.webprofiler .webprofiler-header .webprofiler-hide-button,
.webprofiler .webprofiler-body .webprofiler-body-close-panel,
.webprofiler .webprofiler-body .webprofiler-body-menu .webprofiler-body-resize-panel {
    background: #444;
    display: block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    text-align: center;
    float: right;
}
.webprofiler .webprofiler-header .webprofiler-hide-button svg,
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu svg {
    position: relative;
    top: 6px;
    max-height: 24px;
}

.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu {
    cursor: default;
    display: block;
    height: 36px;
    margin-right: 0;
    white-space: nowrap;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .status-red,
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .status-yellow,
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .status-green {
    display: inline-block;
    color: #FFF;
    background-color: #666;
    padding: 3px 6px;
    margin-bottom: 2px;
    vertical-align: middle;
    min-width: 15px;
    min-height: 13px;
    text-align: center;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .status-red + .status-red,
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .status-yellow + .status-yellow,
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .status-green + .status-green {
    border-left: 5px solid #444;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .status-green {
    background-color: #4F805D;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .status-yellow {
    background-color: #A46A1F;
    color: #FFF;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .status-red {
    background-color: #B0413E;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.active,
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu:hover {
    background-color: #444;
    position: relative;
    z-index: 10002;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-has-tooltip:hover {
    cursor: help;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-has-panel:hover {
    cursor: pointer;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-has-tooltip .webprofiler-menu-tooltip {
    display: none;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip {
    display: block;
    padding: 10px;
    max-width: 480px;
    max-height: 480px;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    background-color: #444;
    bottom: 36px;
    color: #F5F5F5;
    position: absolute;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip .webprofiler-menu-tooltip-group {
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #333333;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip .webprofiler-menu-tooltip-group:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip .webprofiler-menu-tooltip-group-piece {
    border-bottom: solid transparent 3px;
    display: table-row;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip .webprofiler-menu-tooltip-group b {
    color: #AAA;
    display: table-cell;
    font-size: 11px;
    padding: 4px 8px 4px 0;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip .webprofiler-menu-tooltip-group span {
    color: #F5F5F5;
    font-size: 12px;
    display: table-cell;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-position-left.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip {
    left: 0;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-position-right.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip {
    right: 0;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-position-left {
    float: left;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-position-right {
    float: right;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .webprofiler-menu-content {
    display: block;
    height: 36px;
    line-height: 36px;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu-position-left .webprofiler-menu-content {
    padding-left: 0;
    padding-right: 7px;
}
.webprofiler .webprofiler-header .webprofiler-menus > .webprofiler-menu.webprofiler-menu-position-left ~ .webprofiler-menu.webprofiler-menu-position-left .webprofiler-menu-content,
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu.webprofiler-menu-position-right .webprofiler-menu-content {
    padding: 0 7px;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .webprofiler-menu-content .webprofiler-menu-icon,
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .webprofiler-menu-content .webprofiler-menu-label,
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .webprofiler-menu-content .webprofiler-menu-value {
    display: inline-block;
    color: #F5F5F5;
    font-size: 13px;
    line-height: 36px;
    padding: 0;
}
.webprofiler .webprofiler-header .webprofiler-menus .webprofiler-menu .webprofiler-menu-icon .webprofiler-menu-value {
    margin-left: 4px;
}

.webprofiler .webprofiler-body {
    height: 324px;
    background-color: #222;
    margin-bottom: 37px;
    display: none;
    position: relative;
    z-index: 9998;
}
.webprofiler .webprofiler-body pre.sf-dump,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-num,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-const,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-str,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-note,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-ref,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-public,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-protected,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-private,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-meta,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-key,
.webprofiler .webprofiler-body pre.sf-dump .sf-dump-index {
    margin: 0;
    padding: 0;
    color: #2B2A28;
}
.webprofiler .webprofiler-body .webprofiler-panel {
    height: 270px;
    display: none;
}
.webprofiler .webprofiler-body .webprofiler-panel.webprofiler-body-has-table,
.webprofiler .webprofiler-body .webprofiler-panel.webprofiler-body-has-selector {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
}
.webprofiler .webprofiler-body .webprofiler-panel .webprofiler-tabs {
    position: relative;
    min-height: 180px;
    display: block;
}
.webprofiler .webprofiler-body .webprofiler-panel .webprofiler-tabs-tab {
    display: inline-block;
}
.webprofiler .webprofiler-body .webprofiler-panel .webprofiler-tabs-tab label {
    cursor: pointer;
    background: #2B2A28;
    color: #FFF;
    display: block;
    margin: 0 0 0 -1px;
    padding: 10px 15px;
    border-bottom: 3px solid #FFF;
    text-align: center;
}
.webprofiler .webprofiler-body .webprofiler-panel .webprofiler-tabs-tab label span.counter {
    display: inline-block;
    color: #FFF;
    background-color: #666;
    padding: 3px 6px;
    margin-bottom: 2px;
    vertical-align: middle;
    min-width: 15px;
    min-height: 13px;
    text-align: center;
    margin-bottom: 0;
    margin-left: 10px;
}
.webprofiler .webprofiler-body .webprofiler-panel .webprofiler-tabs-tab [type=radio] {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.webprofiler .webprofiler-body .webprofiler-panel .webprofiler-tabs-tab [type=radio]:focus + label {
    /*  */
}
.webprofiler .webprofiler-body .webprofiler-panel .webprofiler-tabs-tab-content {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 15px;
    overflow-y: auto;
    height: 236px;
}
.webprofiler .webprofiler-body .webprofiler-panel .webprofiler-tabs .webprofiler-tabs-tab [type=radio]:checked ~ label {
    background: #FFF;
    color: #2B2A28;
    z-index: 2;
}
.webprofiler .webprofiler-body .webprofiler-panel  .webprofiler-tabs .webprofiler-tabs-tab [type=radio]:checked ~ label span.counter {
    background: #ECECEC;
    color: #2B2A28;
}
.webprofiler .webprofiler-body .webprofiler-panel .webprofiler-tabs .webprofiler-tabs-tab [type=radio]:checked ~ label ~ .webprofiler-tabs-tab-content {
    z-index: 1;
    opacity: 1;
}

.webprofiler .webprofiler-body h3:first-child {
    margin-top:  0;
}

.webprofiler .webprofiler-body .webprofiler-panel table,
.webprofiler .webprofiler-body .webprofiler-panel tr,
.webprofiler .webprofiler-body .webprofiler-panel th,
.webprofiler .webprofiler-body .webprofiler-panel td {
    background: #FFF;
    border-collapse: collapse;
    line-height: 1.5;
    vertical-align: top;
}
.webprofiler .webprofiler-body .webprofiler-panel table {
    background: #FFF;
    box-shadow: 0px 0px 1px rgba(128, 128, 128, .2);
    margin: 0;
    width: 100%;
}
.webprofiler .webprofiler-body .webprofiler-panel table + table {
    margin-top: 30px;
}

.webprofiler .webprofiler-body .webprofiler-panel table th,
.webprofiler .webprofiler-body .webprofiler-panel table td {
    padding: 8px 10px;
}
.webprofiler .webprofiler-body .webprofiler-panel table th {
    font-weight: bold;
    text-align: left;
}
.webprofiler .webprofiler-body .webprofiler-panel table thead th {
    background-color: #2B2A28;
    color: #FFF;
}
.webprofiler .webprofiler-body .webprofiler-panel table thead th.key {
    width: 19%;
}
.webprofiler .webprofiler-body .webprofiler-panel table tbody th,
.webprofiler .webprofiler-body .webprofiler-panel table tbody td {
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    font-size: 13px;
    font-size-adjust: 0.5;
    border: 1px solid #E0E0E0;
    border-width: 1px 0;
    color: #2B2A28;
}
.webprofiler .webprofiler-body .webprofiler-panel table tbody td {
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.webprofiler .webprofiler-body .webprofiler-panel table tbody div {
    margin: .25em 0;
}
.webprofiler .webprofiler-body .webprofiler-panel table tbody ul {
    margin: 0;
    padding: 0 0 0 1em;
}
.webprofiler .webprofiler-body .webprofiler-panel .empty {
    border: 4px dashed #E0E0E0;
    color: #FFF;
    font-size: 16px;
    margin: 1em 0;
    padding: .5em 2em;
    text-align: center;
    font-weight: bold;
}

.webprofiler .webprofiler-body .webprofiler-panel select {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: bold;
    border: 0;
}

.webprofiler .webprofiler-body .webprofiler-body-menu {
    height: 24px;
    border-bottom: 1px solid #383838;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #222;
}
.webprofiler .webprofiler-body .webprofiler-body-menu .webprofiler-body-close-panel,
.webprofiler .webprofiler-body .webprofiler-body-menu .webprofiler-body-resize-panel {
    width: 24px;
    height: 24px;
    float: right;
}
.webprofiler .webprofiler-body .webprofiler-body-menu .webprofiler-body-resize-panel.orginal-size-panel svg {
    transform: rotate(180deg);
}
