includes:
    - ../../Bridge/Phpstan/viserio.extensions.neon
    - ../../Bridge/Phpstan/viserio.rules.neon
#    - %rootDir%/vendor/pepakriz/phpstan-exception-rules/extension.neon
    - %rootDir%/../phpstan-deprecation-rules/rules.neon
    - %rootDir%/../phpstan-mockery/extension.neon
    - %rootDir%/../phpstan-phpunit/extension.neon
    - %rootDir%/../phpstan-phpunit/rules.neon
    - %rootDir%/../phpstan-strict-rules/rules.neon
#    - %rootDir%/../../thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - %rootDir%/../phpstan-php-parser/extension.neon
    - %rootDir%/../phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %rootDir%/../../../src/Viserio/Component/Manager

    autoload_directories:
        - %rootDir%/../../../src/Viserio/Component/Manager

    excludes_analyse:
        - src/Viserio/Component/Manager/Tests/Fixture/
        - src/Viserio/Component/Manager/Tests/Container/Provider/Compiled

    ignoreErrors:
        - '#Call to an undefined method Viserio\\Component\\Manager\\Tests\\Fixture\\TestManager::set#'
        - '#Call to an undefined method Viserio\\Component\\Manager\\Tests\\Fixture\\TestManager::get#'
        - '#Call to an undefined method Viserio\\Component\\Manager\\Tests\\Fixture\\TestConnectionManager::getName#'
        - '#Call to an undefined method Viserio\\Component\\Manager\\Tests\\Fixture\\TestConnectionManager::set#'
        - '#Call to an undefined method Viserio\\Component\\Manager\\Tests\\Fixture\\TestConnectionManager::get#'

