.webprofiler .webprofiler-header .webprofiler-menus a.webprofiler-menu.webprofiler-menu-viserio-translation-data-collector.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip .webprofiler-menu-tooltip-group span {
    display: inline-block;
}
.webprofiler .webprofiler-header .webprofiler-menus a.webprofiler-menu.webprofiler-menu-viserio-translation-data-collector.webprofiler-menu-has-tooltip:hover .webprofiler-menu-tooltip .webprofiler-menu-tooltip-group span,
.webprofiler .webprofiler-body .webprofiler-panel.webprofiler-panel-viserio-translation-data-collector .webprofiler-tabs-tab label span {
    display: inline-block;
    color: #FFF;
    background-color: #666;
    padding: 3px 6px;
    margin-bottom: 2px;
    vertical-align: middle;
    min-width: 15px;
    min-height: 13px;
    text-align: center;
}
.webprofiler .webprofiler-body .webprofiler-panel.webprofiler-panel-viserio-translation-data-collector .webprofiler-tabs-tab label span {
    margin-bottom: 0;
    margin-left: 10px;
}
.webprofiler .webprofiler-body .webprofiler-panel.webprofiler-panel-viserio-translation-data-collector .webprofiler-tabs .webprofiler-tabs-tab [type=radio]:checked ~ label span {
    background: #ECECEC;
    color: #2B2A28;
}
