includes:
    - vendor/narrowspark/coding-standard/base_rules.neon

parameters:
    paths:
        - ./

    autoload_directories:
        - ./

    excludes_analyse:
        - vendor
        - Tests/Fixture

    ignoreErrors:

