includes:
    - ../Phpstan/viserio.extensions.neon
    - ../Phpstan/viserio.rules.neon
#    - %rootDir%/vendor/pepakriz/phpstan-exception-rules/extension.neon
    - %rootDir%/../phpstan-deprecation-rules/rules.neon
    - %rootDir%/../phpstan-mockery/extension.neon
    - %rootDir%/../phpstan-phpunit/extension.neon
    - %rootDir%/../phpstan-phpunit/rules.neon
    - %rootDir%/../phpstan-strict-rules/rules.neon
#    - %rootDir%/../../thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - %rootDir%/../phpstan-php-parser/extension.neon
    - %rootDir%/../phpstan/conf/bleedingEdge.neon
    - %rootDir%/../../slam/phpstan-extensions/conf/slam-rules.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %rootDir%/../../../src/Viserio/Bridge/Twig

    autoload_directories:
        - %rootDir%/../../../src/Viserio/Bridge/Twig

    excludes_analyse:
        - src/Viserio/Bridge/Twig/Tests/Fixture/
        - src/Viserio/Bridge/Twig/Tests/Container/Provider/Compiled

    ignoreErrors:
        - '#Mockery\\MockInterface#'

        - '#Parameter \#2 $callable of class Twig\\TwigFunction constructor expects \(callable\(\)\: mixed\)|null#'
        - '#Variable method call on Twig\\Environment#'
        - '#Call to an undefined method Twig\\Extension\\GlobalsInterface|Twig\\TwigFilter|Twig\\TwigFunction|Twig\\TwigTest::getCallable#'
