includes:
    - vendor/viserio/phpstan-bridge/viserio.extensions.neon
    - vendor/viserio/phpstan-bridge/viserio.rules.neon
    - vendor/narrowspark/coding-standard/base_rules.neon

parameters:
    paths:
        - ./

    autoload_directories:
        - ./

    excludes_analyse:
        - vendor
        - Tests/Fixture
        - Tests/Container/Provider/Compiled

    ignoreErrors:
        - '#Mockery\\MockInterface#'

        - '#Parameter \#2 $callable of class Twig\\TwigFunction constructor expects \(callable\(\)\: mixed\)|null#'
        - '#Variable method call on Twig\\Environment#'
        - '#Call to an undefined method Twig\\Extension\\GlobalsInterface|Twig\\TwigFilter|Twig\\TwigFunction|Twig\\TwigTest::getCallable#'
