includes:
    - vendor/viserio/phpstan-bridge/viserio.extensions.neon
    - vendor/viserio/phpstan-bridge/viserio.rules.neon
    - vendor/narrowspark/coding-standard/base_rules.neon
    - vendor/phpstan/phpstan-php-parser/extension.neon

parameters:
    paths:
        - ./

    autoload_directories:
        - ./

    excludes_analyse:
        - vendor
        - Tests/Fixture
        - Tests/Container/Provider/Compiled

        - Tests/Integration/ContainerLazyObjectTest.php
        - Pipeline/InlineServiceDefinitionsPipe.php

    ignoreErrors:
        # Tests/Integration/LazyProxy/ProxyDumperTest
        - '#Access to an undefined property Viserio\\Component\\Container\\Tests\\Fixture\\Proxy\\FinalDummyClass::\$dynamicProp#'
        # Tests/Integration/Dumper/PhpDumperTest
        - '#Access to an undefined property object::\$test#'
        # Pipeline/AutowirePipe.php
        - '#Access to an undefined property Viserio\\Contract\\Container\\Definition\\Definition::\$innerServiceId#'
        # Pipeline/CheckArgumentsValidityPipe
        - '#Method Viserio\\Component\\Container\\Pipeline\\CheckArgumentsValidityPipe::processValue\(\) should return mixed but return statement is missing#'

        - '#Variable property access on mixed#'

        - '#Class Viserio\\Component\\Container\\Tests\\UnitTest\\Undefined not found#'
        - '#Access to undefined constant ProxyManager\\Version::VERSION#'
