includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

services:
    -
        class: SlamPhpStan\ClassNotationRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\GotoRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\PhpUnitFqcnAnnotationRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\StringToClassRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\UnusedVariableRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\MissingClosureParameterTypehintRule
        tags:
            - phpstan.rules.rule

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %rootDir%/../../..

    autoload_directories:
        - %rootDir%/../../..

    excludes_analyse:
        - vendor/
        - Tests/Fixture/

    ignoreErrors:
        - '#Access to an undefined property Viserio\\Component\\Http\\Stream\\AbstractStreamDecorator::\$stream#'
        - '#Access to an undefined property Viserio\\Component\\Http\\Stream\\FnStream::\$_fn_#'
        # No need to call the parent constructor
        - '#Viserio\\Component\\Http\\Stream\\LazyOpenStream::__construct\(\) does not call parent constructor from Viserio\\Component\\Http\\Stream\\AbstractStreamDecorator#'

        -
            message: '#Method Viserio\\Component\\Http\\Util\:\:normalizeNestedFileSpec\(\) should return#'
            path: Util.php

        -
            message: '#Trying to invoke string but it might not be a callable#'
            count: 2
            path: Tests/StreamTest.php

        # needed for the test
        -
            message: "#^Parameter \\#1 \\$stream of class Viserio\\\\Component\\\\Http\\\\Stream constructor expects resource\\|string, true given\\.$#"
            count: 1
            path: Tests/StreamTest.php
        -
            message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsResource\\(\\) with resource and 'Stream is not closed' will always evaluate to true\\.$#"
            path: Tests/StreamTest.php
