<?php
declare(strict_types=1);
namespace App\Console;

use Viserio\Component\Cron\Schedule;
use Viserio\Component\Foundation\Console\Kernel as ConsoleKernel;

class Kernel extends ConsoleKernel
{
    /**
     * {@inheritdoc}
     */
    protected function getSchedule(Schedule $schedule): void
    {
    }
}
