includes:
    - vendor/viserio/phpstan-bridge/viserio.extensions.neon
    - vendor/viserio/phpstan-bridge/viserio.rules.neon
    - vendor/narrowspark/coding-standard/base_rules.neon

parameters:
    paths:
        - ./

    autoload_directories:
        - ./

    excludes_analyse:
        - vendor
        - Tests/Fixture
        - Tests/Container/Provider/Compiled

    ignoreErrors:

