includes:
    - vendor/viserio/phpstan-bridge/viserio.extensions.neon
    - vendor/viserio/phpstan-bridge/viserio.rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

services:
    -
        class: SlamPhpStan\ClassNotationRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\GotoRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\PhpUnitFqcnAnnotationRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\StringToClassRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\UnusedVariableRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\MissingClosureParameterTypehintRule
        tags:
            - phpstan.rules.rule

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ./

    autoload_directories:
        - ./

    excludes_analyse:
        - vendor
        - Tests/Fixture
        - Tests/Container/Provider/Compiled

    ignoreErrors:
        -
            message: "#$callback of function array_map expects (callable(): mixed)|null, 'self::locate' given#"
            path: Watcher/Resource/Locator/FileResourceLocator.php

        # ignore vfs errors, @todo fix returns in vfs
        - '#Call to an undefined method org\\bovigo\\vfs#'
        - '#Parameter \#1 \$container of method org\\bovigo\\vfs\\vfsStreamAbstractContent::at\(\) expects org\\bovigo\\vfs\\vfsStreamContainer\, org\\bovigo\\vfs\\vfsStreamContent given#'

        # the given parameter can be mixed for this function
        -
            message: '#Parameter \#1 \$res of function get_resource_type expects resource\, resource\|false given#'
            path: Stream.php

        # fix for fstat, key can be a number or string
        -
            message: '#Cannot access offset 7 on array\(#'
            path: Stream.php

        # ignore the throwable in this functions
        -
            message: '#In method "Viserio\\Component\\Filesystem\\Filesystem\:\:box", caught "Throwable" must be rethrown#'
            path: Filesystem.php
        -
            message: '#In method "Viserio\\Component\\Filesystem\\Tests\\FilesystemVfsStreamTest\:\:tearDown", caught "Throwable" must be rethrown#'
            path: Tests/FilesystemVfsStreamTest.php
