includes:
    - vendor/viserio/phpstan-bridge/viserio.extensions.neon
    - vendor/viserio/phpstan-bridge/viserio.rules.neon
    - vendor/narrowspark/coding-standard/base_rules.neon

parameters:
    paths:
        - ./

    autoload_directories:
        - ./

    excludes_analyse:
        - vendor
        - Tests/Fixture
        - Tests/Container/Provider/Compiled

    ignoreErrors:
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$foo#'
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$baz#'
        - '#Call to an undefined method Viserio\\Component\\View\\View::badMethodCall#'
        - '#Access to an undefined property Viserio\\Component\\View\\View::\$renderable#'
        - '#Call to an undefined method Viserio\\Component\\View\\View::withFoo#'

