/vendor
/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
Thumbs.db
ftpsync.settings
sftp-config.json
.environment
sync.ffs_db
tmp/
build/
.project
.settings/
.*.sw*
.*.un~
.buildpath
