services:
    # ContainerBuilder::bind()/singleton() return type
    -
        factory: Viserio\Bridge\Phpstan\Type\Viserio\ContainerBuilderTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
